{% extends "base.html" %}
{% set active_page = 'about' %}
{% block title %}About{% endblock %}

{% block main %}
      <!-- Main hero unit for a primary marketing message or call to action --> 
      <div class="hero-unit"> 
        <h2 align="center">More about this site</h2>
        <hr>
        <p align="center">This is not the greatest website in the world</p> 
        <p align="center">This is a tribute</p> 
        <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> --> 
      </div> 
{% endblock %}
