{% extends "contact_base.html" %}

{% block title %}Contact{% endblock %}

{% block main %}
 
    <div class="container"> 
      <!-- Main hero unit for a primary marketing message or call to action --> 
   
     <div class="hero-unit"> 
        <h2>Contact Information</h2>
        <address>
            <strong>Kyle Kastner</strong><br>
            8535 Stonebridge Unit 2<br>
            San Antonio, TX 78240<br>
            <abbr title="Phone">P:</abbr> (325) 456-0893
        </address>
     
        <address>
            <strong>Email</strong><br>
            <a href="mailto:#">kastnerkyle@gmail.com</a>
        </address>  
        <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> --> 
      </div>
      <hr> 
 
      <footer> 
        <p>&copy; Kyle Kastner 2013</p> 
      </footer> 
 
    </div> <!-- /container --> 
 
{% endblock %}
