{% extends "base.html" %}

{% block title %}Wanderers{% endblock %}

{% block main %}
      <div class="hero-unit"> 
        <h2 align="center">Some music for your weary ears</h2>
        <hr>
        <div class="row">
            <div class="span1">
            </div> 
            <div class="span4" align="center">
                <iframe width="150" height="450" style="position: relative; display: block; width: 150px; height: 450px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=3866830462/size=tall2/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://music.frontierruckus.com/album/the-orion-songbook">The Orion Songbook by Frontier Ruckus</a></iframe>
            </div>
            <div class="span4" align="center">
		<iframe width="150" height="450" style="position: relative; display: block; width: 150px; height: 450px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=3647051408/size=tall2/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://patrickosammons.bandcamp.com/album/extra-extra">Extra! Extra! by The Columnist</a></iframe>
            </div>
      </div> 
      <div class="row">
          <div class="span4">
              <iframe width="150" height="450" style="position: relative; display: block; width: 150px; height: 450px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=578693637/size=tall2/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://youngcircles.bandcamp.com/album/jungle-habits">Jungle Habits by Young Circles</a></iframe>
          </div>
          <div class="span4">
              <iframe width="150" height="450" style="position: relative; display: block; width: 150px; height: 450px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=468503817/size=tall2/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://redfang.bandcamp.com/album/red-fang">Red Fang by Red Fang</a></iframe>
          </div>
      </div>
      <div class="row">
          <div class="span1">
          </div>
          <div class="span4" align="center">
              <iframe width="150" height="450" style="position: relative; display: block; width: 150px; height: 450px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=4213216398/size=tall2/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://bigsir.bandcamp.com/album/before-gardens-after-gardens">Before Gardens After Gardens by Big Sir</a></iframe>
          </div>
          <div class="span4" align="center">
              <iframe width="150" height="450" style="position: relative; display: block; width: 150px; height: 450px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=3437531925/size=tall2/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://slutmachine.bandcamp.com/album/into-the-eye-of-the-storm">Into the Eye of the Storm by Slut Machine</a></iframe>
          </div>
      </div>
{% endblock %}
