{% extends "blanknav_base.html" %}

{% block title %}Wanderers{% endblock %}

{% block main %}
 
    <div class="container"> 
      <!-- Main hero unit for a primary marketing message or call to action --> 
      <div class="hero-unit"> 
        <h1>Site (Always) Under Construction</h1>
        <p>My name is Kyle Kastner, and this is my new website</p> 
        <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> --> 
      </div> 
 
      <!-- Example row of columns --> 
      <div class="row"> 
        <div class="span4"> 
          <h2>Are you from Bandcamp?</h2> 
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> 
          <p><a class="btn" href="/bandcamp/">Bandcampers&raquo;</a></p> 
        </div> 
        <div class="span4"> 
          <h2>Elsewhere</h2> 
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> 
          <p><a class="btn" href="/other/">Somewhere else&raquo;</a></p> 
       </div> 
      </div> 
 
      <hr> 
 
      <footer> 
        <p>&copy; Kyle Kastner 2013</p> 
      </footer> 
 
    </div> <!-- /container --> 
 
{% endblock %}
