{% extends "blanknav_base.html" %}

{% block title %}Wanderers{% endblock %}

{% block main %}
 
    <div class="container"> 
      <!-- Main hero unit for a primary marketing message or call to action --> 
      <div class="hero-unit"> 
        <h2 align="center">You have wandered far, traveler</h2>
        <p align="center">This is an unknown place</p> 
        <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> --> 
        <hr>
        <div class="row">
            <div class="span1">
            </div> 
            <div class="span4" align="center">
                <iframe width="150" height="450" style="position: relative; display: block; width: 150px; height: 450px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=3866830462/size=tall2/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://music.frontierruckus.com/album/the-orion-songbook">The Orion Songbook by Frontier Ruckus</a></iframe>
            </div>
            <div class="span4" align="center">
              <iframe width="150" height="450" style="position: relative; display: block; width: 150px; height: 450px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=3647051408/size=tall2/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://patrickosammons.bandcamp.com/album/extra-extra">Extra! Extra! by The Columnist</a></iframe>
            </div>
      </div> 
    </div> <!-- /container --> 
    <hr>     
    <footer> 
        <p>&copy; Audiospade 2013</p>
    </footer> 
 
{% endblock %}
